body {
    font-family: Arial, sans-serif; 
    font-size: 16px;
    line-height: 1.5; 
    text-align: left;
    background-color: #fefae0; 
}

.book_info {
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
    border: 2px solid #dda15e;
    border-radius: 10px;
    width: 96%;
    margin-bottom: 10px;
    overflow: hidden;
}
    .book_info img {
        width: 10%;
        float: left;
        margin-right: 20px;
    }
    .book_info p {
        font-size: 18px;
        overflow: hidden;
        margin-top: 0;
    }
    .book_info h3 {
        overflow: hidden;
        margin-top: 0;
    }
    .book_info a {
        text-decoration: none;
        font-weight: bold;
        color: #dda15e;
        border: 2px solid #dda15e;
        padding: 5px 10px; 
        border-radius: 5px; 
        transition: all 0.3s ease; 
    }
        .book_info a:hover {
            background-color: #dda15e; 
            color: #ffffff; 
        }

b + i {
    color: #588b8b;
}

p > i {
    color: #d77a61;
}



.genres{
    margin-top: 20px;
    width:30%;
}
.genres a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
    .genres a:hover {
        background-color: #ccd5ae; 
    }
    .genres a:link {
        color: #283618;
        border: 2px solid #283618;
    }
    .genres a:visited {
        color: #606c38;
    }

#welcome_txt {
    font-weight: bold; 
    text-decoration: underline; 
    font-size: 18px; 
    color: #283618; 
    line-height: 1.5;
    text-align: center;
}

h1 {
    font-family: Courier; 
    font-size: 50px; 
    color: #283618; 
    line-height: 1.5; 
    text-align: center;
}

h2 {
    font-family: Courier;
    font-size: 30px;
    color: #606c38;
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
}

h3 {
    color: #dda15e;
    font-style: italic;
    line-height: 1.5;
    padding-left: 10%;
}

a {
    color: #283618;
    text-decoration: underline;
}

img {
    width: 100%;
}

.page_menu_text > :first-child {
    margin-left: 5%;
    font-size: 20px;
    color: #283618;
}

.book_reviews::before {
    content: "Відгук: ";
    font-weight: bold;
    color: #283618;
}

.book_reviews::after {
    content: "Неодмінно треба прочитати!";
    font-weight: bold;
    color: #283618;
    display: block;
    text-align: right;
}


div.menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
}

.menu {
    background-color: #a3b18a;
}

    .menu a {
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        transition: background-color 0.3s, color 0.3s;
    }

        .menu a:hover {
            background-color: #dad7cd;
            color: #283618;
        }

        .menu a:active {
            color: #fff;
            background-color: #283618;
        }

ol {
    margin-left: 5%; 
}
    ol li {
        margin-bottom: 5px; 
    }

ul {
    margin-left: 5%; 
    list-style-type: square; 
}
    ul li {
        margin-bottom: 10px; 
        font-weight: bold;
        font-size: 20px;
    }

dl {
    margin-bottom: 20px; 
}
dt {
    font-weight: bold; 
    margin-bottom: 5px;
}
dd {
    margin-left: 0; 
    margin-bottom: 10px; 
    padding-left: 20px; 
    border-left: 2px solid #606c38; 
}

table {
    border-collapse: collapse; 
    width: 50%; 
}

th {
    background-color: #dda15e; 
    color: white; 
    font-size: 18px; 
    font-weight: bold;
    padding: 10px;
    border: 1px solid #333; 
}
td {
    padding: 10px; 
    border: 1px solid #333; 
}
    td img {
        width: 70px;
        height: 70px; 
    }
        