body {
    font-family: Arial, sans-serif; 
    font-size: 16px;
    line-height: 1.5; 
    text-align: left;
    background-color: #fefae0; 
}

p {
    color: red;
}

p {
    color: #333!important;
}

.book_info {
    text-align: justify; 
    font-size: 16px; 
    line-height: 1.5;
    padding: 20px; 
    border: 2px solid #dda15e; 
    border-radius: 10px; 
    width: 96%; 
    margin-bottom: 10px;
}

#welcome_txt {
    font-weight: bold; 
    text-decoration: underline; 
    font-size: 18px; 
    color: #283618; 
    line-height: 1.5;
    text-align: center;
}

h1 {
    font-family: Courier; 
    font-size: 50px; 
    color: #283618; 
    line-height: 1.5; 
    text-align: center;
}

h2 {
    font-family: Courier; 
    font-size: 30px; 
    color: #606c38; 
    line-height: 1.5;
    text-align: center; 
    font-weight: bold;
}

h3 {
    color: #dda15e;
    font-style: italic;
    line-height: 1.5;
    padding-left: 10%;
}

a {
    color: #283618;
    text-decoration: underline;
}

img {
    width: 10%;
}


ol {
    margin-left: 5%; 
}
    ol li {
        margin-bottom: 5px; 
    }

ul {
    margin-left: 5%; 
    list-style-type: square; 
}
    ul li {
        margin-bottom: 10px; 
        font-weight: bold;
        font-size: 20px;
    }

dl {
    margin-bottom: 20px; 
}
dt {
    font-weight: bold; 
    margin-bottom: 5px;
}
dd {
    margin-left: 0; 
    margin-bottom: 10px; 
    padding-left: 20px; 
    border-left: 2px solid #606c38; 
}

table {
    border-collapse: collapse; 
    width: 50%; 
}

th {
    background-color: #dda15e; 
    color: white; 
    font-size: 18px; 
    font-weight: bold;
    padding: 10px;
    border: 1px solid #333; 
}
td {
    padding: 10px; 
    border: 1px solid #333; 
}
    td img {
        width: 70px;
        height: 70px; 
    }
        